<div class="container flex">
  <h1>Weather App</h1>
  <div>
    <select
      class="form-select"
      id="cityselect"
      aria-label="select city"
      [(ngModel)]="city"
      name="city"
      required
    >
      <!-- <option disabled selected value="">Open this select menu</option> -->
      <option selected value="Nanded">Nanded</option>
      <option value="Mumbai">Mumbai</option>
      <option value="Pune">Pune</option>
      <option value="Delhi">Delhi</option>
      <option value="Indore">Indore</option>
    </select>
  </div>
  <div class="container">
    <input type="text" placeholder="Enter city name" [(ngModel)]="city" />
  </div>
  <button class="btn btn-primary" (click)="getWeathers()">Get Data</button>

  <div style="margin-top: 20px" *ngIf="weatherData">
    <h2>Weather Information</h2>
    <p>City: {{ city }}</p>
    <p>Temperature: {{ temperature }}</p>
    <p>Country: {{ country }}</p>
    <p>Humidity: {{ humidity }}</p>
    <p>Description: {{ description }}</p>
    <p>Icon: {{ icon }}</p>
  </div>
</div>
